h1 {
    text-align: center;
    color: rgb(54, 206, 92);
}

input {
    padding: 5px;
}

button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: none;
    margin-left: 5px;
}

ul {
    list-style-type: circle;
    padding-left: '20px';
}

li {
    text-align: left;
}